
#map{
    width:100%;
    height:100%;
}
#map_column_container{
    height:100%;
    width: calc(100% + 15px);
}
#map_column{
    height:100%;
}
#search_results_column{
    height:100%;
    overflow: auto;
    padding-left:0;
    padding-right:0;
}
#search_results_inner{
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
}