
#map{
    width:100%;
    height:100%;
}
#map_column_container{
    height:100%;
    width: 100%;
}
#map_column{
    height:100%;
    padding-right: 0;
    padding-left: 0;
}
#search_results_column{
    padding-left: 0;
    height:100%;
}
#search_results_inner{
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
}